<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ArtSpot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="img-background" [fullscreen]="true">
  <div class="div-button">
    <ion-button color="medium" [routerLink]="['/showall']">Discover New Spots</ion-button>
  </div>
  <div class="div-text ion-text-uppercase">
    <p>THE APP<br> OF THE STREET ART</p>
  </div>
  <div class="div-button">
    <ion-button color="medium" [routerLink]="['/add']">Add a Spot !</ion-button>
  </div>
</ion-content>
